body {
  margin: 20% auto;
  width: 50%;
  height: 75%;
}

button {
  background-color: blue;
  color: white;
  font-weight: bold;
  width: 100px;
  padding: 10px;
  border: none;
}

button:hover {
  background-color: orange;
  color: black;
}
